.coorosel{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  height: 400px;
  border: 1px solid red;
}
.coorosel>img{
  height: 55%;
}
.coorosel>p{
  font-size:17px;
  line-height: 20px;
}
.coorosel>h1{
  font-style: italic;
  font-size: 30px;
}